<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">    
    <meta charset="utf-8">
</head>
<body>
    <h3>Thêm Tài Khoản</h3>

    <div id="form">
        <form action="#" th:action="@{/ttcn/luutaikhoan}" th:object="${taiKhoan}"
            method="post" novalidate="novalidate">
            <div>
                <label>Tai Khoan</label>
                <input type="text" th:field="*{tenDangNhap}"/>
            </div>
            <div>
                <label>Mat Khau</label>
                <input type="password" th:field="*{matKhau}"/>
            </div>
            <div>
                <label>Chuc Vu</label>
                <input type="text" th:field="*{chucVu}"/>
            </div>
            <input type="submit" value="Save"></input>
        </form>
    </div>
    <footer th:replace="/layout :: footer"></footer>
    </body>
</html>